body{
    margin-left: 15%;
    margin-right: 15%;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.titulo{
        background-color: red;
        font-size: 60px;
        text-align: center;
        color: white;
        margin: 0px;

}

main{
    text-align: center;
    align-items: center;
    justify-content: center;

}

img{
    width: 900px;
}

